lxml
jupyterlab~=4.0.0
ollama
openai
jupyter-ai
matplotlib
https://raw.githubusercontent.com/yxzhan/extension-examples/main/cell-toolbar/dist/jupyterlab_examples_cell_toolbar-0.1.4.tar.gz
git+https://github.com/yxzhan/jupyterlab-urdf.git@1d90c0714ccec1e6e5e7424310419fdea82bcf0c