lxml
jupyterlab~=4.0.0
numpy<2
ultralytics
torch
opencv-python
# filterpy
# ollama
# jupyter-ai
matplotlib
jupyter-remote-desktop-proxy~=3.0.0
# git+https://github.com/yxzhan/jupyterlab-urdf.git@367986c4a51bcdbc4daac81dabbffd4283552fdc
